*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #024059;
    /* blue */
    --color-secondary: #026873;
    /* orange */
    --color-tertiary: #59F22E;
    /* teal */
    --color-accent: #F2E852;
    /* pink */
    --color-background: #FF7EE3;
    /* light gray */
    --color-highlight: #F23322;
    /* yellow */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page1 {
    background-image: url(Images/page1.jpg);
    background-size: cover;
    background-color: #010329;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.content {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.sub-heading {
    margin-bottom: 15px;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.links ul li {
    padding: 7.55px;
    flex: 1 1 10;
    filter: invert(100%) sepia(3%) saturate(1817%) hue-rotate(15deg) brightness(122%) contrast(100%);
}

.links ul li:hover {
    filter: invert(43%) sepia(45%) saturate(4663%) hue-rotate(310deg) brightness(100%) contrast(91%);
    transition: 0.4s;
}

#page2 {
    background-image: url(Images/page2.jpg);
    background-size: cover;
    background-color: #010329;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.about {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.about h2 {
    margin-bottom: 15px;
}

#page3 {
    background-image: url(Images/page3.jpg);
    background-size: cover;
    background-color: #010329;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 7.5px;
}

.card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.carousel {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.carousel-control:hover {
    opacity: 0.8;
}

.carousel-control.prev {
    left: 20px;
}

.carousel-control.next {
    right: 20px;
}

.list li.active {
    color: yellow;
}

.textlink a {
    color:white;

}

.list li.textlink.active a {
    color: yellow;
}